@font-face {
    font-family: 'Garamond';
    src: url('../includes/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ShadowsInto';
    src: url('../includes/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
  }
.bg-4color{
    background-color: #7b00bd !important;
}
.text-4color{
    color: #7b00bd;
}
.border-4color{
    border-color:#7b00bd !important;
    color: #7b00bd !important;
}
/*Acomodarlo en funcion del texto mas largo, para que no genere multi-lineas*/
.tooltip-inner {
    max-width: 500px !important;
}

a i[data-bs-toggle="tooltip"]{
    z-index: 1000;
}

.loader-wrapper {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
  }
  .loader {
    display: fixed;
    position: relative;
    color: white;
    text-shadow: 0 0 2px #00c, 0 0 3px #00f, 0 0 4px #00f, 0 0 3px #aaf, 0 0 6px #aaf, 0 0 8px #aaf;
  }

.myname h1{
    font: 100 75px/1.2 "Garamond";
    text-shadow: 0 0 2px #00c, 0 0 3px #00f, 0 0 4px #00f, 0 0 3px #aaf, 0 0 6px #aaf, 0 0 8px #aaf;
    white-space:nowrap;
}
#span_typed{
    font: 500 30px/1.2 "Indie Flower";
    letter-spacing: 2pt;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}
.title, .title h1{
    font: 700 80px/1.5 "Garamond";
    padding: 60px 0 30px 0;
}
#navbar {
    visibility: hidden;
    z-index: 400;
    position: fixed;
    right: 98.7%;
    width: 22px;
    height: 100%;
    background: #333;
    border: 1px solid #444;
    border-left: 0;
    text-orientation: upright;
    writing-mode: vertical-rl;
}
#navbar a {
    transform: translateX(7px);
    background-color: #333;
    color: #ccc;
    border: 1px solid #555;
    border-left: 0;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 2px 6px 1px #666;
    padding: 2px 2px 5px 15px;
    text-decoration: none;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 1px #000, 0 0 2px #000, 0 0 3px #000;
    font: 300 14px/1.5 'Indie Flower';
    letter-spacing: -8px;
    transition: 1s all ease;
}
#navbar a:hover {
    transform: translateX(18px);
    color: #fff;
    text-shadow: 0 0 1px #00f, 0 0 2px #00f, 0 0 1px #aaf, 0 0 2px #aaf;
    box-shadow: 0 2px 6px 1px #aaf;
    transition: 1.3s all ease;
}
div[id^="header_my"]::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to bottom, #ccf, #aaf);
    box-shadow: 3px 0 6px 3px #aaf;
}
/*--Los muevo con Js segun en donde este--*/
#header_myinfo{
    scroll-margin-top: 76px;
}
#header_mystudies{
    scroll-margin-top: 1px;
}
#header_myexperiences{
    scroll-margin-top: -73px;
}
#header_myskills{
    scroll-margin-top: -36px;
}

#header_img{
    z-index: 200;
    width: 25%;
    opacity: 30%;
    filter: grayscale(70%) drop-shadow(8px 8px 20px #aaf);
    pointer-events: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer{
    background: #333;
    text-shadow: 0 0 1px #00f, 0 0 2px #00f, 0 0 1px #aaf, 0 0 2px #aaf;
}

/*----------------------------------------*/
#section_myinfo{
    background: url(../media/Fondo_Adn.png) no-repeat center top;
    background-size: cover;
    height: 100%;
    background-attachment:scroll;
    background-color: hsla(0, 0%, 91%, 0.6);
}
#section_mystudies{
    background: url(../media/Fondo_Raices.png) no-repeat center top;
    background-size: cover;
    height: 100%;
    background-attachment:scroll;
    background-color: hsla(24, 41%, 51%, 0.8);
}
#header_myexperiences{
    background-color: hsla(120, 51%, 17%, 0.5);
}
#section_myexperiences{
    background: url(../media/Fondo_Arbol.png) no-repeat center top;
    background-size: cover;
    height: 100%;
    background-attachment: scroll;
    background-color: hsla(25, 70%, 18%, 0.6);
}
#section_myexperiences .container h3{
    text-align: right;
}
#section_myexperiences .container .row{
    position: relative;
    min-width: 1000px;
    max-width: 1000px;
}
#section_myskills{
    height: 100%;
}
.card_contacto{
    /*width: 380px;*/
    max-width: 95% !important;
    min-height: 200px;
}
.card-skills{
    min-height: 835px;
}
#card-other{
    min-height: 300px;
}
.card-skills:hover{
    z-index: 6000;
    filter:  contrast(1.5) brightness(1.3);
}
.card-skills:hover i, .card-skills:hover img{
    filter: contrast(0.7) brightness(0.8) !important;
}

.card-develop-transf:hover{
    transform: scale(1.3) translateX(60px) !important;
}
.card-infra-transf:hover{
    transform: scale(1.3) !important;
}
.card-desing-transf:hover{
    transform: scale(1.3) translateX(-60px) !important;
}
.card-other-transf:hover{
    transform: scale(1.2) translateY(-60px) !important;
}

.timeline{
    position: relative;
    height: 100%;
    cursor: default;
}
.timeline h3{
    font: 700 45px/0.2 "ShadowsInto";
}
.timeline h3{
    text-shadow: 2px 2px 2px #000;
}
#timeline-01{
    position: static;
    /*top: 80px;*/
    /*height: 1405px;*/
    height: 87.5rem;
    margin-top: 2.5vh;
    margin-right: 0;
    border-right: 5px solid blue;
    float: right;
}
#timeline-01 h3:first-of-type:not(#timeline-02 h3, #timeline-03 h3, #timeline-04 h3, #timeline-06 h3){
    position: relative;
    top: 2%;
    right: 2.5%;
}
#timeline-01 hr:first-of-type:not(#timeline-02 hr, #timeline-03 hr, #timeline-04 hr, #timeline-06 hr){
    position: static;
    margin-top: -5vh;
    margin-left: -17vw;
}
#timeline-06{
    position: static;
    /*top: 80px;*/
    height: 135vh;
    margin-top: 33.5vh;
    margin-right: 6vw;
    border-right: 5px dashed green;
    opacity: 50%;
    float: right;
    clear: left;
}
#timeline-06 hr{
    position: static;
    margin-top: 1vh;
    margin-left: -10vw;
    opacity: 90%;
}
#timeline-02{
    position: static;
    /*top: 80px;*/
    height: 10vh;
    margin-top: 4vh;
    margin-right: -5vw;
    border-right: 5px solid #7b00bd;
    float: right;
}
#timeline-02 h3:first-of-type{
    position: relative;
    top: 1vh;
    right: -110%;
}
#timeline-02 hr:first-of-type{
    position: static;
    margin-top: -5vh;
    margin-left: -8vw;
}
#timeline-03{
    position: static;
    /*top: 80px;*/
    height: 30vh;
    margin-top: 4vh;
    margin-right: -8.9vw;
    border-right: 5px solid cyan;
    float: right;
}
#timeline-03 h3:first-of-type{
    position: relative;
    top: 10%;
    right: -70%;
}
#timeline-03 h3:last-of-type{
    position: relative;
    top: -3%;
    right: -30%;
}
#timeline-03 hr:first-of-type{
    position: static;
    margin-top: -1vh;
    margin-left: -9vw;
}
#timeline-04{
    position: static;
    /*top: 80px;*/
    height: 36vh;
    margin-top: 17vh;
    margin-right: -0.35vw;
    border-right: 5px solid white;
    float: right;
}
#timeline-04 h3:first-of-type{
    position: relative;
    top: 5%;
    right: -5%;
}
#timeline-04 hr:first-of-type{
    position: static;
    margin-top: -7vh;
    margin-left: -11vw;
}
#timeline-05{
    position: static;
    /*top: 80px;*/
    height: 55vh;
    margin-top: 17vh;
    margin-right: -0.2vw;
    border-right: 5px solid green;
    float: right;
}
#timeline-05 h3{
    position: relative;
    /*top: 20px;*/
    margin-top: 37vh;
    margin-right: -8vw;
}
.point-upleft{
    transform: rotate(-55deg) !important;
}
.point-upright{
    transform: rotate(55deg) !important;
}
.icon-start-timeline{
    margin-left: -10px;
    margin-top: -25px;
}
.icon-end-timeline{
    margin-left: -10px;
    margin-top: -30px;
}
i[class^="icon-start-timeline fs-2"]{
    margin-left: -8px;
    margin-top: -25px;
}
i[class^="icon-end-timeline fs-2"]{
    margin-left: -10px;
}
#section_myexperiences  .card-header, #section_myexperiences .card-body span{
    text-shadow: 0 0 1px #000, 0 0 2px #000,  0 0 1px #000,  0 0 2px #000,  0 0 3px #000;
    cursor: default;
}
#section_myexperiences .card-body,#section_myinfo .card-body :not(h6), .accordion-button{
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 1px #000, 0 0 2px #000, 0 0 3px #000;
}
.job_title{
    filter: brightness(190%);
    text-shadow: 0 0 1px #ccc, 0 0 2px #333,  0 0 1px #333,  0 0 2px #bbb;
}
#section_myexperiences a:hover{
    box-shadow: 1px 1px 1px 1px #5a5, -1px -1px 1px 1px #ada;
    filter: brightness(1.1);
}
i[class^="fas fa-sm fa-upload"]{
    transform: rotate(-25deg) !important;
}
i[class^="fas fa-sm fa-upload text-success"]{
    transform: rotate(25deg) !important;
}
.dev-icon{
    width: 35px;
    height: 35px;
}
.dev-icon-sm{
    width: 28px;
    height: 28px;
}
.dev-icon-lg{
    width: 45px;
    height: 45px;
}

#tags{
    visibility: hidden;
}

#myCanvasContainer{
    position: absolute;
    right: 0.2%;
    bottom: 0.2%;
}

#jobD_interfase{
    background-color: hsla(279, 100%, 37%, 0.48);
}